 *{
    box-sizing: border-box;
} 

body {
    margin: 0px;
    background: #161424;
    background: linear-gradient(180deg, rgba(22, 20, 36, 1) 0%, rgba(0, 0, 64, 1) 35%, rgba(0, 138, 166, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_top {
    display:flex;
    background-color: rgba(66, 63, 71, 0.527);
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    align-items: center;
    border-style: hidden solid solid solid;
    border-color: white;
    border-radius: 0px 0px 50px 50px;
    padding: 50px;
}

.container_top a {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    background-color: #161424;
    color: rgb(207, 207, 207);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    transition-duration: 300ms;
}

.container_top a:hover {
    transition-duration: 300ms;
    background-color: aqua;
    color: black;    
}

.input {
    width: 300px;
    background-color: #161424;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    transition-duration: 300ms;
}

.input_delete {
    width: 300px;
    background-color: #161424;
    color: rgb(255, 0, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    transition-duration: 300ms;
}

.input_delete:hover {
    transition-duration: 300ms;
    background-color: rgb(255, 0, 0);
    color: black;
}

.input:hover {
    transition-duration: 300ms;
    background-color: aqua;
    color: black;
}

.error {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container_top td, th {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px;
    text-align: left;
}

.table {
    border-collapse: collapse;  
}

